/*
Theme Name: Sekolah
Theme URI: http://wpsekolah.com
Author URI: http://facebook.com/ciussgw
Description: Tema khusus web sekolah dari Ciuss Creative. Dilengkapi dengan fitur pos khusus seperti Agenda, Pengumuman, Editorial, Blog, dan lain lain yang disesuaikan dengan kebutuhan web sekolah di Indonesia. Demo resmi bisa di cek di halaman https://wpsekolah.com
Author: Ciuss Creative
Version: 1.1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-logo
Text Domain: sekolah
Copyright: (c) 2017 - Sekarang ciuss.com
*/

@font-face {
    font-family: Montserrat;
    src: url(huruf/Montserrat/Montserrat-Regular.woff2) format("woff2"), url(huruf/Montserrat/Montserrat-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Montserrat;
    src: url(huruf/Montserrat/Montserrat-Bold.woff2) format("woff2"), url(huruf/Montserrat/Montserrat-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url(huruf/Roboto/Roboto-Regular.woff2) format("woff2"), url(huruf/Roboto/Roboto-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url(huruf/Roboto/Roboto-Bold.woff2) format("woff2"), url(huruf/Roboto/Roboto-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    line-height: 1.4;
    text-align: left;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    outline: 0 !important ;
}
body {
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}
img {
    pointer-events: none;
	max-width: 100%;
	height: auto;
	display: block;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wpsekolah {
    width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0 0;
	box-shadow: 0 0 15px rgba(0,0,0,0.08);
	overflow: hidden;
}

.sch_container {
	position: relative;
	padding: 0 30px;
}
.header {
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	width: 100%;
	max-width: 1200px;
	height: 50px;
	z-index: 110;
	background: #45b767;
}

/* Header Big */
.navigasi-menu-sekolah {
	height: 50px; 
}

.navigasi {
    margin: 0;
    padding: 0;
    height: 50px;
}
.navigasi .sch.accord li {
	display: block !important;
}
.navigasi .sch.desktop {
    height: 50px;
    font-weight: 400;
}
.navigasi .sch.desktop li {
    float: left;
    display: block;
    margin: 0;
    position: relative;
    text-align: center;
    line-height: 50px;
}
.navigasi .sch.desktop li.menu-item-has-children {
    position: relative;
}
.navigasi .sch.desktop li.menu-item-has-children:after {
    content: "\f105";
    font: normal normal 12px/1 FontAwesome;
    position: absolute;
    top: 20px;
    right: 8px;
}
.navigasi .sch.desktop li.menu-item-has-children:before {
content: '';
position: absolute;
left: 20px;
top: 50px;
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #fff;
clear: both;
display: none;
}
.navigasi .sch.desktop li.menu-item-has-children:hover:before {
	display: block;
}
.navigasi .sch.desktop li ul li.menu-item-has-children:before {
	display: none !important;
}
.navigasi .sch.desktop li a {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0 10px;
	font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    font-family: Roboto;
    position: relative;
}
.navigasi .sch.desktop li.menu-item-has-children a {
    padding: 0 22px 0 16px;
}
.navigasi .sch.desktop li a:hover {
    text-decoration: none;
}
.navigasi .sch.desktop li ul {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0;
    display: none;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.05);
}
.navigasi .sch.desktop li:hover ul {
    display: block;
}
.navigasi .sch.desktop li ul li {
    width: 160px;
    text-align: left;
	border-radius: 0 !important;
	background: none;
}
.navigasi .sch.desktop li ul li ul li ul li ul li:hover ul li ul,
.navigasi .sch.desktop li ul li ul li ul li:hover ul li ul,
.navigasi .sch.desktop li ul li ul li:hover ul li ul,
.navigasi .sch.desktop li ul li:hover ul li ul,
.navigasi .sch.desktop li:hover ul li ul {
    display: none;
}
.navigasi .sch.desktop li ul li ul li ul li ul li ul li:hover ul,
.navigasi .sch.desktop li ul li ul li ul li ul li:hover ul,
.navigasi .sch.desktop li ul li ul li ul li:hover ul,
.navigasi .sch.desktop li ul li ul li:hover ul,
.navigasi .sch.desktop li ul li:hover ul {
    display: block;
}
.navigasi .sch.desktop li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
	z-index: 10;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.05);
}
.navigasi .sch.desktop li ul li.menu-item-has-children:after {
    top: 13px;
}
.navigasi .sch.desktop li ul li a {
    display: block;
    position: relative;
    margin: 0 !important ;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    padding: 10px 15px !important;
}
.navigasi .sch.desktop li ul li ul li.menu-item-has-children:after,
.navigasi .sch.desktop li ul li.menu-item-has-children:after {
    display: block !important ;
}


.menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: none;
}
.post-search {
	position: absolute;
    top: 10px;
    right: 10px;
    width: 240px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    text-align: center;
}

#searchform {
	height: 30px;
	position: relative;
}
.ps_select {
    width: calc( 50% - 17px );
    padding: 0;
	margin: 0 3px 0 0;
    float: left;
	background: #fff;
	height: 30px;
}
.ps_select select {
	width: 100%;
    padding: 0 10px;
    line-height: 30px;
    border: 0;
    appearance: none;
    font-family: Roboto;
    font-size: 13px;
	background: none;
}
.ps_input {
    width: calc( 50% - 17px );
    padding: 0;
	margin: 0 3px 0 0;
    float: left;
	background: #fff;
	height: 30px;
    float: left;
}
.ps_input input {
    padding: 0 10px;
    width: calc( 100% - 20px );
    line-height: 30px;
    border: 0;
    font-family: Roboto;
    font-size: 13px;
	background: none;
}

.ps_button {
    width: 28px;
    height: 30px;
    padding: 0;
    float: left;
}
.ps_button button {
    width: 28px;
    height: 30px;
    border: 0;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
	display: block;
}


/* New Ticker */
.run-text {
	height: 30px;
	position: relative;
	border-bottom: 1px solid rgba(125,125,125,0.1);
}

.this-day {
position: absolute;
height: 30px;
line-height: 30px;
padding: 0 15px;
font-size: 14px;
top: 0;
left: 0;
z-index: 8;
}
.running {
	overflow: hidden;
}
.tickercontainer {
    height: 30px;
	position: relative;
	z-index: 5;
}
.mask {
    height: 30px;
}
ul.newstickers {
    position: relative;
    left: 100%;
    width: 1300px !important ;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.newstickers .customize-partial-edit-shortcut {
    left: 50%;
}
ul.newstickers li {
    float: left;
    display: inline-block;
    margin: 5px 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
ul.newstickers a {
    white-space: nowrap;
    padding: 0;
    font-weight: 400;
}
.spasi {
	margin-right: 60px;
}

/* Logo */
.logo_sekolah {
	height: 60px;
	padding: 25px 20px 25px 0;
	float: left;
}
.logo_sekolah a {
	display: block;
}
.logo_sekolah img {
	height:60px;
	width: auto;
	margin: 0;
}

.kontak-sekolah {
	float: right; 
	padding: 35px 0;
}
.kontak-dir {
	display: flex;
	font-size: 15px;
}
.kontak-box .number {
	font-weight: 700;
}
.kontak-box  .fa-phone {
	width: 20px;
}
.kontak-box  .fa-envelope-o {
	width: 20px;
}
.sekolah_sosial {
	padding-left: 26px; 
	margin-left: 30px; 
}
.sekolah_sosial .fa {
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 25px;
	text-align: center;
	margin: 0 0 0 3px;
	border-radius: 20px;
}
.mob_wa {
	display: none;
}

/* Nama Sekolah + Sosial */
.sch-infosekolah {
	padding: 30px 0;
}
.nama_sekolah {
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 1.2;
	font-family: Montserrat;
	text-align: center;
	margin-bottom: 5px;
}
.address {
	text-align: center;
	font-size: 14px;
}
.sch-namasekolah {
	margin: 0;
}




/* Editorial */

.editornews {
	margin: 0 -15px; 
	padding: 30px 0;
}
.editor-box {
	width: 66%; float: left;
}
.editor-inner {
	margin: 0 15px; 
}
.kepala-sekolah {
	width: 210px; 
	height: auto; 
	float: left; 
	position: relative;
}
.editor-meta {
	padding: 0 20px 20px 0;
}
.master-meta {
	position: absolute; 
	bottom: 0;
	left: 0; 
	right: 0;
	padding: 60px 15px 15px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	z-index: 5;
}
.head_name {
	font-size: 14px;
	font-weight: bold;
}
.editor-meta h4 {
	padding: 0 0 10px; 
	font-size: 20px;
	line-height: 1.2;
}
.editor-meta h3 {
	padding: 0 0 10px; 
	font-size: 18px;
	line-height: 1.2;
}
.editor-text {
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 1.3;
}
.editor-all a {
	display: inline-block;
padding: 7px 10px;
font-size: 13px;
font-family: Montserrat;
border-radius: 3px;
}



.news-box {
	width: 34%; 
	float: right;
}
.news-inner {
	margin: 0 15px 0;
}
.news-inner h3 {
	font-size: 20px; 
	padding: 0 0 5px;
	border-bottom: 1px solid rgba(125,125,125,0.1);
}
.newsbox {
	margin: 0 15px; 
	padding: 12px 0; 
	border-bottom: 1px solid rgba(125,125,125,0.1);
}
.news-meta .news-auth {
	font-size: 14px;
	margin: 0 0 5px;
}

.news-box .news_featured {
	width: 100px;
	float: left;
	margin-right: 20px;
}
.newsbox:last-child {
	padding: 12px 0 0;
}
.newsbox h3 {
	height: 44px;
	font-size: 16px;
	line-height: 1.3;
	overflow: hidden;
}
.news-box .editor-all {
	padding: 12px 15px 0;
    text-align: right;
}
.re_kepsek {
	font-size: 12px; 
}
.edit_post {
    float: right;
    width: calc( 100% - 240px);
}


/* Quotes */

.home_quotes {
	padding: 30px;
}
.home_quotes span {
}
.home_quotes h4 {
	text-align: center; 
	margin: 0; 
	font-family: Roboto; 
	font-size: 22px; 
	letter-spacing: -1px; 
	font-weight: 700;
}
.sch_quotes {
	font-size: 24px;
	max-width: 800px;
	padding: 40px 0 20px;
	margin: 0 auto;
	text-align: center;
}
.quotes_acc  {
	font-size: 16px;
}


.peng-box {
	float: left;
	width: 33%;
}
.peng-meta {
	padding: 15px 0;
	margin: 0 15px;
}
.peng-meta .pub {
	font-size: 14px;
	margin: 0 0 6px;
}
.peng-meta h3 {
	font-size: 18px;
	line-height: 1.3;
	margin: 0 0 8px;
}






.agenda-box {
	float: left;
	width: 33%;
}
.age-home{
	margin: 0 15px;
	padding: 15px 0;
}
.tanggal {
	width: 50px;
float: left;
text-align: center;
border-radius: 6px;
overflow: hidden;
}
.hari {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	padding: 6px 0;
}
.bulan {
	font-size: 10px;
	padding: 4px 0;
}
.tahun {
	font-size: 12px;
	padding: 4px 0;
	font-weight: bold;
}

.age-meta {
	float: right;
	width: calc( 100% - 70px );
}
.age-meta .auth {
	font-size:12px;
	margin: 0 0 6px;
}

.age-meta h3 {
	font-size: 18px;
	line-height: 1.3;
	margin: 0 0 8px;
}




.blog-box {
	float: left;
	width: 33%;
}

.news_featured {
	float: left;
}
.blogbox {
    margin: 0 15px;
    padding: 15px 0;
    border-bottom: 1px solid rgba(125,125,125,0.2);
}

.blog-extra {
	float: right;
	width: calc( 100% - 120px );
}
.blogbox .auth {
	font-size:14px;
	margin: 0 0 5px;
}
.blogbox h3 {
	height: 44px;
	line-height: 1.3;
	font-size: 16px;
}
.blogbox .news_featured {
	width: 100px;
	margin-right: 20px;
}
.blogbox .news_featured img {
	width: 100px;
}


.guruku {
	padding: 20px 0;
}
.guru-judul {
    font-size: 20px;
	font-weight: bold;
    padding: 0 0 5px;
}
.person.owl-theme .owl-nav {
	margin: 0;
	position: absolute;
	top: -36px;
	right: -5px;
}


/* Galeri */
.sekolah_galleria {
}
.sekolah_galleria .news-inner h3 {
	border: none;
}
.gal-box {
	width: 33.33%; 
	float: left;
}
.inner-gal {
	margin: 0 10px;
	padding: 10px 0 0;
}
.galbox {
	width: 33.33%; 
	float: left;
	position: relative;
}
.gal-in {
	margin: 0;
}
.galbox a {
	padding: 0 5px 10px;
}
.galtext .gal-in {
	margin: 0 5px 10px;
}
.galtext .gal-in img {
	width: 112px;
	height: auto;
}
.fas-right {
	float: right;
	width: calc( 100% - 130px );
}
.fas-right h3 {
	font-size: 16px;
}
.sesuatu {
	margin: 0 5px;
}


/* Video */
.videonews {
	padding: 20px 0 40px;
}
.sekolah_video h3 {
	border: none;
	font-size: 20px;
font-weight: bold;
padding: 0 0 10px;
}
.vid-block {
	margin: 0 -15px;
}
.sch-video {
	width: 33.33%;
	float: left;
}
.sch-video iframe {
	width: calc( 100% - 30px );
	margin: 0 15px;
	height: 200px;
	display: block;
}



/* GTK */
.home_guru {
	padding: 30px 0;
}
.title_guru {
	position: relative;
	text-align: center; 
	margin: 0 0 30px; 
	font-family: Montserrat; 
	font-size: 25px; 
	letter-spacing: -1px; 
	font-weight: 700;
}
.title_guru:after {
    position: absolute;
    bottom: -8px;
    left: 50%;
	margin-left: -35px;
    content: '';
    height: 2px;
    width: 70px;
    display: block;
    background: #fc0;

}
.person .item {
	padding: 10px 0;
}
.guru_info {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	padding: 100px 15px 15px; 
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	z-index: 5;
}
.guru_nama {
	font-weight:bold;
}

.sekolah_bread {
	border-top: 1px solid rgba(125,125,125,0.1);
}

.inbread {
	padding: 15px 0;
}

#notfound {
	padding: 150px 0;
	text-align: center;
}
.sekolah_heading {
	font-size: 25px;
	margin: 0 0 15px;
}
.text_not {
	font-size: 16px;
}


#inkonten {
    border-top: 1px solid rgba(125,125,125,0.1);
	padding: 20px 0 0;
}
.konten {
	margin: 0 -15px;
}
.loop_left {
	float: left;
	width: 70%;
}
.sch_looper {
	margin: 0 15px 25px;
}
.post_inlooperthumb {
	width: 160px;
	float: left;
	text-align: center;
}
.post_inloopermeta {
	width: calc( 100% - 180px );
	float: right;
}
.post-category {
	height: 25px;
}
.post-category a {
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	margin: 0;
	font-size: 12px;
	display: inline-block;
}
.post_inloopermeta h2 {
	font-size: 18px;
	margin: 0 0 8px;
}
.post_inlooperpublish {
	font-size: 12px;
	margin: 0 0 4px;
}

.agedate {
	font-weight: 700;
	font-size: 30px;
	padding-top: 15px;
}
.agemonth {
	padding-bottom: 15px;
}

.loop_full {
	margin: 0 8px;
}
.loop_ingurus {
	float: left;
	width: 16.66%;
}
.loop_full .post_inlooper {
	margin: 0 8px;
}
.guru_meta {
    padding: 15px 0;
    height: 50px;
    overflow: hidden;
}



.before_table {
	margin: 0 -15px;
}
.search_something {
	float: right;
	width: 30%;
}
.some_input {
	margin: 0 15px 15px;
	padding: 8px 15px;
	border: 1px solid #eee;
}
.some_input span {
	width: 65px;
	float: left;
	height: 30px;
	line-height: 30px;
}
.some_input input {
	width: calc( 100% - 95px );
	height: 28px;
	line-height: 28px;
	border: 1px solid #ddd;
	padding: 0 14px;
	font-size: 14px;
}
.some_result {
	margin: 0 15px 15px;
	padding: 15px;
	border: 1px solid #eee;
}
.some_cat {
	margin: 0 15px 15px;
	padding: 15px;
	border: 1px solid #eee;
}
.head_cat {
	padding: 0 0 8px 0;
}
.cat_term {
	padding: 8px 0;
	border-top: 1px solid #eee;
}
.cat_term span {
	float: right;
}


.result_list {
	float: left;
	width: 70%;
}
.down_table {
	margin: 0 15px;
}
.sekolah_table td {
	padding: 8px 15px;
	border: 1px solid rgba(125,125,125,0.1);
}
.tdcol {
	text-align: center;
}
.top_tab {
	background: rgba(0,0,0,0.03);
	font-size: 16px;
}


.post-khusus-archive-quotes .sekolah_heading {
	text-align: center;
}
.sekolah_quotes {
	font-size: 18px;
	max-width: 800px;
	margin: 0 auto 50px;
	text-align: center;
}
.home .sekolah_quotes {
	max-width: 1200px;
	margin: 0;
}
.people_quotes {
	font-size: 15px;
	padding: 10px 0 0;
}


.sekolah_table {
	width: 100%;
	margin: 0 0 30px;
}


.post-khusus-archive-video .post_inlooperthumb {
	width: 40%;
}
.post-khusus-archive-video .post_inlooperthumb iframe {
	height: 180px;
}
.post-khusus-archive-video .post_inloopermeta {
    width: calc( 60% - 20px );
}



.sch_singlepost {
	border-top: 1px solid #eee;
	padding: 30px 0;
}
.sch_singlecontent {
	margin: 0 -15px;
}
.sekolah_primary {
	width: 70%;
	float: left;
}
.primary_content {
	margin: 0 15px;
}
.after_title {
	margin: 0 0 10px;	
}
.share {
	margin: 0 0 10px;	
}
.share .fa {
	width: 35px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	margin: 0;
}

.sekolah_article p {
    margin: 0 0 15px;
}

.sekolah_article img {
    max-width: 100%;
    height: auto;
    margin: 0 0 20px;
}

.sekolah_article img.alignleft {
    float: left;
    margin: 0 30px 20px 0;
}

.sekolah_article img.alignright {
    float: right;
    margin: 0 0 20px 30px;
}

.sekolah_article .akademi__list-image img {
    margin: 0;
}

.sekolah_article blockquote {
    margin: 0 0 20px;
    padding: 20px 20px 10px 50px;
    background: rgb(0, 0, 0, 0.05);
}

.sekolah_article ul {
    margin: 0 0 20px;
    list-style: disc !important;
}

.sekolah_article ol {
    margin: 0 0 20px;
    list-style: decimal !important;
}

.sekolah_article li {
    margin: 0 0 0 15px;
}

.sekolah_article li ol,
.sekolah_article li ul {
    margin: 0;
}

.schpost_tags {
	margin: 0 0 15px;
}



.sekolah_secondary {
	width: 30%;
	float: right;
}
.secondary_content {
	margin: 0 15px;
}

.sekolah_featured {
	margin: 0 0 10px;
}
.content_meta {
	margin: 0 0 10px;
}

.sekolah_heads {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px;
}
.single_meta {
	margin: 0 0 10px;
}
.single_meta h4 {
	font-size: 16px;
}
.single_meta span {
	font-style: italic;
}


.single_vid {
	width: 100%;
	height: 350px;
}
.ano_vid iframe {
	width: 100%;
	height: 150px;	
}

.comment_heads  {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px;
}
.comment__meta {
	border: 1px solid rgba(125,125,125,0.1);
	padding: 15px 20px;
	margin: 0 0 20px;
}
.comment__meta p {
	padding: 10px 0;
}

.children {
	margin: 0 0 0 30px;
}

.heading_list_comment  {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px;
}

.sekolah__form-textarea {
	border: 1px solid #ddd;
	width: calc( 100% - 2px );
	max-width: 400px;
	margin: 0 0 6px;
	overflow: hidden;
}
.sekolah__form-textarea textarea {
	width: calc( 100% - 30px );
	padding: 15px;
	border: 0;
}
.sekolah__form-author,
.sekolah__form-email,
.sekolah__form-url {
	border: 1px solid #ddd;
	width: calc( 100% - 2px );
	max-width: 400px;
	margin: 0 0 6px;
}
.sekolah__form-author input,
.sekolah__form-email input,
.sekolah__form-url input {
	width: calc( 100% - 30px );
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	font-family: Roboto;
	border: 0;
	font-size: 14px;
}
.comment-form-cookies-consent {
	padding: 0 0 15px;
	max-width: 400px;
}
.form-submit .submit {
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	margin: 0 5px 0 0;
	display: inline-block;
	border: 0;
	font-size: 14px;
	font-family: Roboto;
}




.people .sekolah_primary {
    width: calc( 100% - 200px );
    float: left;
}


.guru_table {
	width: 100%;
	margin: 0 0 30px;
}
.guru_table td {
	border: 1px solid #ddd;
	padding: 10px 15px;
}
.art_title {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px;
}
.people .sekolah_secondary {
    width: 200px;
    float: right;
}


.pagination {
	margin: 0  15px 30px;
	text-align: center;
}
.pagination a {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 3px 0 0;
}



.loop_right {
	float: left;
	width: 30%;
}

.sidebar {
	margin: 0 15px 30px;
}
.sidebar-in {
	padding: 0 0 0 30px; 
	border-left: 1px dashed rgba(125,125,125,0.2); 
	margin: 0 0 20px;
}
.sidebar .nama_sekolah {
	font-size: 18px;
}
.sidebar .address {
	margin: 0 0 15px;
}
.sidebar table {
	width: 100%;
}
.sidebar td {
	padding: 8px 0;
	text-align: right;
	border-bottom: 1px dashed rgba(125,125,125,0.1);
}
.sidebar td.tab_left {
	padding: 8px 15px 8px 0;
	text-align: left;
}
.sidebar .re_kepsek {
	font-size: 14px;
}














.sch-widget {
	padding: 40px 0;
}
.widget_area {
	margin: 0 -20px;
}
.widget_box {
	width: 33.33%;
	float: left;
}
.widget_box-inner {
	padding: 0 20px;
}
.widget_block {
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 1.4;
}
.widget_block p {
	margin: 0 0 10px;
}
.widget_block h1 {
	font-size: 25px;
	margin: 0 0 10px;
}
.widget_block h2 {
	font-size: 22px;
	margin: 0 0 10px;
}
.widget_block h3 {
	font-size: 20px;
	margin: 0 0 10px;
}
.widget_block h4 {
	font-size: 18px;
	margin: 0 0 10px;
}
.widget_block h5 {
	font-size: 17px;
	margin: 0 0 10px;
}
.widget_block h6 {
	font-size: 16px;
	margin: 0 0 10px;
}
.widget_block ul,
.widget_block ol {
	margin: 0 0 10px;
}
.widget_block ul li,
.widget_block ol li {
    margin: 0 0 0 15px;
}
.widget_block blockquote {
	padding: 10px;
	background: rgba(0,0,0,0.04);
	font-size: 16px;
}
.widget_block .wp-block-table {
	width: 100%;
}
.widget_block .wp-block-table td {
	padding: 10px;
	margin: 0 0 -1px -1px;
}
.widget_block .wp-block-pullquote blockquote {
	background: none;
}
.widget_block figcaption {
	font-size: 12px;
}
.widget_block .wp-block-archives,
.widget_block .wp-block-categories {
	margin: 0;
	list-style: none;
}
.widget_block .wp-block-archives li,
.widget_block .wp-block-categories li {
    padding: 0 0 10px;
	margin: 0;
}
.widget_block .wp-block-calendar table th {
	background: rgba(0,0,0,0.05);
}
.widget_block .wp-block-calendar table caption {
	font-size: 16px;
	padding: 0 0 10px;
}
.widget_block .wp-calendar-nav {
	padding: 10px 0;
}
.widget_block .wp-block-latest-comments__comment {
	margin: 0;
}
.widget_block .wp-block-latest-comments__comment-excerpt p {
    line-height: 1.4;
}
.widget_block .wp-block-latest-comments__comment-date {
	font-style: italic;
}
.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li,
.widget_block .wp-block-pages-list__item {
	margin: 0;
	padding: 0 0 10px;
}
.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li time {
	font-size: 12px;
	line-height: 1.3;
}
.widget_block .wp-block-page-list {
	list-style: none;
}
.widget_block .wp-block-pages-list__item.has-child {
	padding: 0;
}
.widget_block .wp-block-pages-list__item.has-child .submenu-container {
	margin: 10px 0 0 15px;
}
.widget_block .wp-block-rss {
	list-style: none;
}
.widget_block .wp-block-rss__item {
	padding: 0 0 10px;
	margin: 0;
}
.widget_block .wp-block-tag-cloud a {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	font-size: 14px !important;
}
.widget_block .wp-block-search .wp-block-search__button {
	border: 0;
	height: 30px;
	line-height: 30px;
	width: 70px;
	padding: 0;
	margin-left: 10px;
	text-align: center;
}
.widget_block .wp-block-search .wp-block-search__input {
	border: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	width: calc( 100% - 90px );
	padding: 0 9px;
	background: #fff;
	color: #222;
	float: left;
}
.widget_block .wp-block-search .wp-block-search__label {
	margin: 0 0 6px;
	font-style: italic;
	display: block;
}
.widget_block.widget_meta li {
	padding: 0 0 10px;
}
.widget_block.widget_nav_menu li {
	padding: 0 0  10px;
}
.widget_block.widget_nav_menu li.menu-item-has-children {
	padding: 0;
}
.widget_block.widget_nav_menu li.menu-item-has-children ul.sub-menu {
	margin: 10px 0 0;
}
.widget_block .wp-block-video iframe {
	width: 100%;
	padding: 0 0 10px;
	height: 200px;
}
.widget_contact {
	width: 100%;
}
.widget_contact td {
	padding: 10px 15px;
	margin:  0 0 -1px -1px;
}







.copyright {
	padding: 40px 0;
	text-align: center;
}

.to_top {
	position: fixed;
	right: 36px;
	bottom: 30px;
	width: 36px;
	height: 36px;
	line-height: 36px !important;
	text-align: center;
	font-size: 18px;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	z-index: 100;
	display: none;
}
.fade .to_top {
	display: block;
}

@media screen and (max-width: 982px) {
.menu-icon {
	display: block;
}
.navigasi {
display: none;
position: fixed;
top: 50px;
bottom: 0;
left: 0;
right: 0;
max-width: 100%;
width: 100%;
height: calc(100% - 50px);
overflow-y: auto;
z-index: 100;
    }
	.desktop {
		display: none;
	}
    .navigasi .sch {
        margin: 0;
    }
    .navigasi .sch.accord li {
        padding: 0 20px;
		line-height: 36px;
		border-top: 1px solid rgba(125,125,125,0.1);
        position: relative;
		display: block;
    }
	.navigasi .sch.accord li.menu-item-has-children {
		position: relative;
	}
	.navigasi .sch.accord li.menu-item-has-children:after {
		content: "\f105";
font: normal normal 12px/1 FontAwesome;
position: absolute;
top: 12px;
right: 8px;
	}
    .navigasi .sch.accord li.has-sub:after {
        content: "\f105";
        font: normal normal 16px/1 FontAwesome;
        position: absolute;
        top: 12px;
        right: 16px;
        transition: all 0.5s 0.1s ease;
        transform: rotate(0deg);
    }
    .navigasi .sch.accord li.has-sub.active:after {
        transition: all 0.5s 0.1s ease;
        transform: rotate(180deg);
    }
    .navigasi .sch.accord ul li:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    .navigasi .sch.accord li a {
        display: block;
		font-weight: 700;
    }
	.navigasi .sch.accord li ul {
        display: none;
		margin: 0 -20px;
		background: rgba(0,0,0,0.03);
    }
	.navigasi .sch.accord li ul li ul {
		background: rgba(0,0,0,0.06);
    }
	
.logo_sekolah {
    height: 60px;
    padding: 15px 0;
    float: none;
    text-align: center;
    width: 100%;
}
	.logo_sekolah img {
    margin: 0 auto;
}
	.kontak-sekolah {
		float: none;
		padding: 0 0 15px 0;
	}
	.sekolah_sosial .fa {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
	}
	.kontak-dir {
    display: block;
}
.kontak-box {
	text-align: center;
	margin: 0 0 10px;
}
.sekolah_sosial {
    padding: 0;
    margin: 0;
    border: 0 !important;
	text-align: center;
}
	
	
	.mob_wa {
	display: inline-block;
}
.web_wa {
	display: none;
}

.editor-box  {
    width: 100%;
    float: none;
	margin: 0 0 20px;
}
.news-box {
    width: 100%;
    float: none;
}
.peng-box,
.agenda-box,
.blog-box,
.gal-box {
    float: none;
    width: 100%;
}


.loop_left,
.loop_right {
    float: none;
    width: 100%;
}
.loop_left {
	margin: 0 0 60px;
}
.sidebar-in {
    padding: 0;
    border-left: 0;
}
.post_inlooperthumb {
    width: 100px;
}
.post_inloopermeta {
    width: calc( 100% - 120px );
}
.post_inloopermeta h2 {
    font-size: 14px;
    line-height: 1.3;
}
.post_inlooperexcerpt {
	display: none;
}
.agedate {
    padding-top: 5px;
}
.agemonth {
    padding-bottom: 8px;
}


.widget_box {
    width: 100%;
    float: none;
}


}
@media screen and (max-width: 600px) {
.loop_ingurus {
    float: left;
    width: 33.33%;
}
.search_something,
.result_list {
    float: none;
    width: 100%;
}
.sekolah_primary,
.sekolah_secondary,
.people .sekolah_primary,
.people .sekolah_secondary {
    width: 100%;
    float: none;
}
.primary_content {
    margin: 0 15px 50px;
}
.people .sekolah_featured {
    margin: 0 auto 10px;
    width: 240px;
}
.people .sekolah_heading {
    text-align: center;
}
}

@media screen and (max-width: 480px) {
	.run-text,
	.tickercontainer,
	.mask {
		height: 24px;
	}
	.this-day {
    display: none;
}
ul.newstickers li {
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin: 4px 0;
}
.navigasi .sch.accord li {
    line-height: 50px;
    font-size: 16px;
}
.navigasi .sch.accord li.menu-item-has-children:after {
    font: normal normal 16px/1 FontAwesome;
	top: 16px;
}

.sch-infosekolah {
    padding: 20px 0;
}
.nama_sekolah {
    font-size: 22px;
}
.kepala-sekolah {
    width: 100px;
}
.edit_post {
    float: right;
    width: calc( 100% - 120px);
}
.master-meta {
	display: none;
}
.home_quotes {
    padding: 30px 0;
}
.sch_quotes {
    font-size: 18px;
    line-height: 1.3;
}
.gal-box {
	margin: 0 0 20px;
}
.sch-video {
    width: 100%;
    float: none;
	margin: 0 0 20px;
}
.loop_ingurus {
    width: 50%;
}
}